# Entornos virtuales
venv/
env/
.venv/

# Cachés de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Variables de entorno
.env

# Editor / IDE
.vscode/
.idea/

# Build / distribución
dist/
build/
*.egg-info/

# SQLite local database
*.db
*.db-wal
*.db-shm